*{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 5vw;
}

#drummingId {
  border-color: black;
  border-width: medium;
  border-style: solid;
}

h2{
  font-size: 3.5vw;
}

#show{
  font-size: 3vw;
}

#show:hover{
  color: #730202;
}
