*{
  font-family: 'Roboto', sans-serif;
}

h1{
  font-size: 4.5vw;
}

#drummingId {
  border-color: black;
  border-width: medium;
  border-style: solid;
}

h2{
  font-size: 5vw;
  font-weight: bold;
}

.biggerIcon{
font-size: 5vw;
width: 5vw;
}

#show{
  font-size: 4.5vw;
}

#show:active{
  color: #730202;
}
#projectTemplate{
  display: none;
}
#awTemp{
  display: none;
}
